extends layouts/home

block scripts
  script(src='/javascript/index.js')

block content
  .welcome
    .logo
    .title
     | Все по кучкам!
    .text
      p
      | Идете в поход, но не можете определиться кто с кем в какой палатке спит? Лена не любит Васю, Вася любит Юлю, Юля любит Лену, а Дима любит Васю? 
      p
      | Идете на корпоратив, и не можете решить кто с кем хочет сесть за стол? Вася хочет нажраться и сесть с пьющими, а Дима не хочет надраться и плясать на столах, и хочет отсесть от собутыльников?
      p
      | Мы поможем вам в решении этих сложных социальных проблем!
    .buttons
      form#go_form(action="/create", method="get")
      a#go_button.button(style="width:200px;margin: 0 auto;") Начать
